langchain
langchain-core
langchain-community
langchain-pinecone
langchain-huggingface

google-generativeai
langchain-google-genai

flask
sentence-transformers
pypdf
python-dotenv
werkzeug

tensorflow
torch
torchvision
transformers
Pillow
numpy

